<div class="slide-right">
  <h2 style="color:blue;">Search Bus Here</h2>
</div>
<%= form_tag user_search_bus_path, method: :get do %>
  <div class="card">
    <div class="card-body">
      <div>
        <label class="form-label"> <strong>Boarding  </strong></label>
        <%= text_field_tag :boarding, params[:boarding],class: "form-control" %>
      </div>
      <div>
        <label class="form-label"> <strong>Destination </strong></label>
        <%= text_field_tag :destination, params[:destination],class: "form-control" %>
      </div>
      <div>
        <label class="form-label" ><strong>Date of Journey  </strong></label>
        <%= date_field_tag :doj, params[:doj],class: "form-control" %>
      </div>
      <div class="button">
        <div class="action">
          <%= submit_tag "Search", name: nil ,class: "btn btn-warning"%>
        </div>
      </div>
    </div>
  </div>
<% end %>
<style>
  .jumbotron .container h1 {
     text-align: left;
     color: blue;
     font-size: 60px;
     font-family: 'Shift', sans-serif;
     font-weight: bold;
     padding-top:20px;
     padding-bottom:5px;
     margin-bottom: 0;
     padding-bottom: 0;

  }
  .slide-right {
    width: 100%;
    overflow: hidden;
    margin-left: 400px;
    max-width: 500px
  }

  .slide-right h2 {
    animation: 2s slide-right;
    animation-delay: 2s;
    animation-direction:aleternate;
   animation-iteration-count: infinite;
  }

  @keyframes slide-right {
    from {
      margin-left: -500px;
    }

    to {
      margin-left: 0%;
    }
  }
  }
   .card{
    margin-left: 20%;
    margin-right: 20%;

  }
  .action{
   text-align: center;
  }
</style>
