<h1> create buses here</h1>
    <%= form_with model: @bus do |ff| %>
 
        
        <%= ff.label :boarding%><br/>
         <%= ff.select :boarding, options_for_select(City.all.pluck(:city_name,:city_name)) %>
        </p>
        <p>
        <%= ff.label :destination%><br/>
         <%= ff.select :destination, options_for_select(City.all.pluck(:city_name,:city_name)) %>
        </p>
        <p>
        <%= ff.label :bus_name%><br/>
        <%= ff.text_field :bus_name %>
        
        </p>
         <p>
        <%= ff.label :time%><br/>
        <%= ff.time_field :time%>
        </p>
        <p>
        <%= ff.label :no_of_seats%><br/>
        <%= ff.number_field :no_of_seats %>
        </p>
        <p>
        <%= ff.label :start_date%><br/>
        <%= ff.date_field :start_date %>
        </p>
        <p>
        <%= ff.label :end_date%><br/>
        <%= ff.date_field :end_date %>
        </p>
      <p>
      <%= ff.submit %> 
      </p>
   <% end %>